.btn {
	padding-left: 22px;
	padding-right: 22px;
	line-height: 20px;
	display: inline-block;
	background-color: #dbdbdb;
	&:hover{
		text-decoration: none;
	}
}
.green-btn {
	background-color: #38B248;
	color: #fff;
	font-weight: 600;
	&:hover{
		color: #fff;
	}
}

.red-btn {
	background-color: #e53840;
	color: #fff;
	&:hover{
		color: #fff;
	}
}

.btn-small {
	padding-left: 12px;
	padding-right: 12px;
	line-height: 15px;
	display: inline-block;
	font-size: 12px;
	&:hover{
		text-decoration: none;
	}
}