.calendar-table {
	background: #fff;
	.header-table{
		overflow:hidden;
		border-bottom: 1px solid #e2e2e2;
		border-top: 1px solid #e2e2e2;
		.day {
			float: left;
			width: 175px;
			height: 60px;
			line-height:60px;
			text-align: center;
			border-right: 1px solid #e2e2e2;
			background: #f4f4f4;
		}
		.time-title {
			float: left;
			width: 55px;
			line-height: 60px;
			text-align: center;
			border-right: 1px solid #e2e2e2;
		}
	}
	.body-table{
		.row-table{
			height: 60px;
			border-bottom: 1px solid #e2e2e2;
			clear: both;
			.time-value{
				span {
					font-weight: bold;
					display: inline-block;
					margin-top:35px;
					width: 100%;
					color: #9f9f9f;
				}
				float: left;
				height: 60px;
				text-align: center;
				width: 55px;
				border-right: 1px solid #e2e2e2;
				
			}
			.hour-value{
				width: 175px;
				float: left;
				height: 59px;
				border-right: 1px solid #e2e2e2;
				position:relative;
				&.current{
					background: #eff4ff;
				}
				.not-working-hours{
					border: 1px solid #fc9c9c;
					background-color:#fc9c9c;
					opacity: 0.5;
					/* background-image:  url('../images/lock.png');
					background-position: top center;
					background-repeat: no-repeat;
					background-size: auto 80%; */
				}
			}
		}
	}
}
.calendar-settings{
	margin-bottom:20px;
	.checkbox-inline{
	    width: auto;
	    input {
	    	width: auto;
	        height: auto;
	    }
	}
	.period{
		max-width: 75px;
	}
}
.blocked-cell {
	background:  url('../images/lock.png') top center no-repeat;
	height: 60px;
	background-size: auto 80%;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.event {
	background-color: rgba(201,228,202, 0.7);
	position:absolute;
	top: 2px;
	left: 0;
	width: 171px;
	height: 56px;
	margin-left:2px;
	margin-right: 2px;
	border-radius: 3px;
	p{
		padding: 5px 10px;
		font-weight: 600;
		font-size: 13px;
	}
	&:hover{
		.hover-block{
			display: block;	
		}
	}
	.hover-block{
		display: none;
		position: absolute;
		width: 250px;
		height: 400px;
		left: -250px;
		top: 0;
		background:#fff;
		border: 2px solid #eee;
		z-index: 10;
	}
}
