h3 {
	font-size: 24px;
	margin: 0 0 30px 0;
	color: #354052;
}
label {
	width: 100%;
	font-size: 14px;
	color: #7f8fa4;
	font-weight: 600;
	margin-bottom: 10px;
}
input {
	width: 100%;
	border: 1px solid #dfe3e9;
	height: 34px;
	border-radius: 3px;
	margin-bottom: 20px;
	color: #354052;
	padding :0 15px;
}
.worker-link{
	float:right;
	color: #2ca0f7;
	text-decoration: underline;
	line-height: 38px;

}