@import 'header/_header';
@import 'left-bar/_left-bar';
@import 'main/_main';
@import 'friends/_friends';
@import 'requests/_requests';
@import 'contacts/_contacts';
@import 'landing/_landing';
@import '_buttons';
@import 'signup';
@import 'profile/_profile';
@import 'search/_search';
@import '_modals';
@import '_calendar';

body{
	font-family: 'Open Sans', sans-serif;
}
.main-content {
	flex: 1;
}
.inner-block {
	padding: 27px;
	background-color: #EFF3F6;
}
.help-block.error{
	color: red;
}
/* */
.fr {
	float: right;
}
.ml-15 {
	margin-left: 15px;
}
.modal  {
	max-height: calc(100vh - 80px);
}
.modal-body{
	max-height: calc(100vh - 280px);
}
/* <input-star></input-star> directive */
.angular-input-stars {
	
	display: inline-block;
	padding: 0;
	margin-left: -5px;
	list-style: none;

}

.angular-input-stars > li {
		
	font-size: 17px;

	display: inline-block;
	padding-right: 2px;
	padding-left: 2px;
	
	cursor: pointer;

}

.angular-input-stars > li i.readonly {
	cursor: not-allowed;
}

.angular-input-stars > li .active {

		color: #FDE35E;
		text-shadow: black 0 0 1px, 0 0 1px ;	

}

.angular-input-stars > li .active.angular-input-stars-hover {
	text-shadow: black 0 0 3px;
}


.switcher { display: inline-block; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.switcher-label { font-size: .9em; }
.switcher-label.false { color: #e35144; }
.switcher-label,
.switcher-line { display: inline-block; vertical-align: middle; cursor: pointer; }
.switcher-line { position: relative; width: 40px; height: 2em; margin: 0 8px; }
.switcher-line:before { content: ''; display: block; vertical-align: middle; width: 100%; height: 6px; background: #8ca0ad;
	 background-image: linear-gradient(#8ca0ad, #cad6de); }
.switcher-line:before,.switcher-line:after { 
	 transform: translateY(-50%); position: absolute; top: 50%; border-radius: 10em;
	 transition: all 300ms ease; }
.switcher-line:after { content: ''; display: block; width: 20px; height: 20px; background: #fff; border: 1px solid #c9d1d6; box-shadow: 0 1px 2px rgba(97, 126, 147, .5);left: 0; }
.switcher input { display: none !important; }
.switcher.active .switcher-line:after {
	transform:  translateY(-50%) translateX(-100%);
	left: 100%; 
}
.switcher.active .switcher-label.true { color: #788181; font-weight: bold;}
.switcher.active .switcher-label.false { color: inherit; }

.switcher.disabled { opacity: .7; }


/* bar height */
.styled .switcher-line:before { height: 20px; }
/* bar backgrounds */
.styled         .switcher-line:before { background: #e1e4e3; }
.styled .active .switcher-line:before { background: #588386; }
/* icons opacity */
.styled         .switcher-label.false,
.styled .active .switcher-label.true { opacity: 1; }
.styled         .switcher-label.true,
.styled .active .switcher-label.false { opacity: .4; }

