<h2>{{$ctrl.match.homeTeamName}} {{$ctrl.match.result.goalsHomeTeam}} -  {{$ctrl.match.result.goalsAwayTeam}} {{$ctrl.match.awayTeamName}}</h2>
<div class="row">
    <p class="text-success">{{$ctrl.matchStatus.status}}</p>
    <div class="col-lg-12 g-mb-25">
        <div>
            <span><b>Total over 1.5 : </b></span>
            <span class="u-label g-mr-5" ng-class="t.color" ng-repeat="t in $ctrl.totalOv1">{{t.text}}</span>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <span class="u-label g-mr-5" ng-class="m.color" ng-repeat="m in $ctrl.homeTeamResults">{{m.r}}</span>
        </div>
        <ul>
            <li ng-repeat="prevM in $ctrl.homeMatches | orderBy : 'date'">
                <b>{{prevM.matchday}}</b>{{prevM.homeTeamName}} {{prevM.result.goalsHomeTeam}} - {{prevM.result.goalsAwayTeam}} {{prevM.awayTeamName}}
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
            <div>
                <span class="u-label g-mr-5" ng-class="m.color" ng-repeat="m in $ctrl.awayTeamResults">{{m.r}}</span>
            </div>
            <ul>
                <li ng-repeat="prevM in $ctrl.awayMatches | orderBy : 'date'">
                    <b>{{prevM.matchday}}</b>{{prevM.homeTeamName}} {{prevM.result.goalsHomeTeam}} - {{prevM.result.goalsAwayTeam}} {{prevM.awayTeamName}}
                </li>
            </ul>
        </div>
</div>