.user-results-list {
	list-style: none;
	background-color: #fff;
	padding:15px 30px 15px 30px;
	margin: 0;
	li {
		overflow:hidden;
		padding:15px 0 15px 0;
		border-bottom: 1px solid #E6EAEE;
		.user-img {
			width: 70px;
			height: 70px;
			overflow: hidden;
			float: left;
			img{
				width:100%;
			}
		}
		.user-name{
			float:left;
			margin-left: 30px;
			font-size: 18px;
			line-height: 70px;
			color: #354052;
		}
	}
}
.friends-list li .userFriends {
	img {
		width: 20px;
	}
}
.friends-list li .phone {
	margin-bottom: 4px;
}
