<div class="friend-header">
	<div class="friend-img">
		<img ng-src="{{$ctrl.friendInfo.friend.smallImg}}">
	</div>
	<div class="friend-info">
		<h5 class="clearfix">
			<span class="friend-name">{{$ctrl.friendInfo.friend.name}}</span>
			<span class="btn btn-sm u-btn-outline-lightred g-mr-10 g-mb-15 pull-right" ng-click="$ctrl.deleteFriend($ctrl.friendInfo.friend._id)">Видалити з друзів</span>
		</h5>
		<p class="clearfix">тел: {{$ctrl.friendInfo.friend.phone}}</p>
		<p class="clearfix">Спільних спеціалістів: {{$ctrl.listAlloverContact.length}}</p>
	</div>
</div>
<div class="inner-block container-fliud">
	<div class="row">
		<div class="col-xs-6">
			<p>{{$ctrl.friendInfo.contacts.length}} Спеціалістів</p>
			<ul class="">
				<li class="tile-list-items" ng-repeat="contact in $ctrl.friendInfo.contacts">
					<span class="item_in_list" ng-hide="contact.isShowed" ng-click="$ctrl.addToContacts(contact)">Доданий</span>
					<span class="btn green-btn addBtn" ng-show="contact.isShowed" ng-click="$ctrl.addToContacts(contact)">Додати</span>
				  	<div class="image-block pull-left">
				    	<img src="{{contact.img || '/public/images/vectorpaint1.png'}}">
				  	</div>
			    	<h5 class="contact-name">{{contact.name}}</h5>
			    	<p class="contact-spec">{{contact.spec}}</p>

				</li>
			</ul>
		</div>
		<div class="col-xs-6">
			<p>{{$ctrl.friendInfo.friends.length}} Друзів</p>

			<ul class="">
				<li class="tile-list-items" ng-repeat="friend in $ctrl.friendInfo.friends">

					<span class="btn btn-success pull-right addBtn" ng-show="friend.isShowed && !friend.isRequest && friend._id != $ctrl.user._id"  ng-click="$ctrl.addToFrined(friend)" >Додати</span>
					<span class="item_in_list" ng-show="friend.isRequest &&  friend._id != $ctrl.user._id">Відправлений</span>
				  	<div class="image-block pull-left">
				    	<img ng-src="{{friend.smallImg || '/public/images/vectorpaint1.png'}}">
				  	</div>
			    	<h5 class="contact-name">{{friend.name}}</h5>
			    	<p class="contact-spec">{{friend.phone}}</p>
				</li>
			</ul>
		</div>
	</div>
</div>
