<div ng-show="$ctrl.listRequest.length > 0" class="blockRequestToFriend ">
    <h3>Запрошення в друзі</h3>
   
    <ul class="friends-list">
        <li ng-repeat="req in $ctrl.listRequest">
            <img ng-src="{{req.useridinvite.smallImg}}">
            <span  class="btn green-btn acceptBtn" ng-click="$ctrl.accept(req._id)">Додати</span>
            <div class="info">
                <p class="name">{{req.useridinvite.name || req.useridinvite.email}}</p>
            </div>
            <!-- {{friend._id}}    -->
        </li>
    </ul>
</div>

<div class="inner-block">
    <div class="alert alert-info margin" ng-show="$ctrl.friendsList.length == 0">У вас, наразі, не додано друзів, скористайтеся пошуком! </div>
    <ul class="friends-list">
        <li ng-repeat="friend in $ctrl.friendsList">
            <img ng-src="{{friend.smallImg}}">
            <div class="info">
                 <p class="name h5 g-color-black mb-20" ui-sref="main.friend({id : friend._id})" style="cursor: pointer;">
                    {{friend.name || friend.email}}
                </p>
                <p class="phone">{{friend.phone}}</p>
                
            </div>
            <span class="btn btn-sm u-btn-outline-lightred g-mr-10 g-mb-15 pull-right g-mt-20 " ng-click="$ctrl.deleteFriend(friend._id)">Видалити з друзів</span>
            <!-- {{friend._id}}    -->
        </li>
    </ul>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add new friend</h3>
    </div>
    <div class="modal-body" id="modal-body">
       <input ng-model="vm.friend.name" placeholder="Friend's name">
       <input ng-model="vm.friend.phone" placeholder="Friend's phone">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</script>
