/* Add here all your css styles (customizations) */
.left {
    float:left;
}
.right {
    float: right;
}

/*.col-lg-9.dirty-hack {
	width: 100%;
	flex: 0 0 100%;
    max-width: 100%;
}
*/

@media (max-width: 1200px) { 

}