<div class="inner-block">
	<div class="inner-profile">
		<div class="row">
			<div class="col-lg-3 left-block">
				<div  class="user-img">
				<img ng-src="{{$ctrl.cropper.croppedImage}}" alt="">
				</div>
				<div class="btn green-btn change-image" ng-click="$ctrl.isShowedBlock = true">Изменить фото</div>
			</div>
			<div class="col-lg-9">
				<div class="user-info-block">
					<div class="row">
						<label for="name">Фамилия/Имя</label>
						<input type="text" id="name" ng-model="$ctrl.user.name">
					</div>
					<div class="row">
						<label for="email">Email</label>
						<input type="text" id="email" ng-model="$ctrl.user.email">
					</div>
					<div class="row">
						<label for="phone">Phone</label>
						<input type="text" id="phone" ng-model="$ctrl.user.phone">
					</div>
					<div class="row ">
						<span class="btn green-btn" ng-click="$ctrl.updateUser()"> Save </span>
					</div>
					<div class="row" ng-hide="$ctrl.user.fbId">
						Добавьть профиль соц. сети:
						<span class="btn" ng-click=" $ctrl.connectFB()">Facebook</span>
					</div>
				</div>
			</div>
		</div>
		
        </div>
         <form 
	      encType="multipart/form-data">
		<div ng-show="$ctrl.isShowedBlock" class="cropBlock">
			<div class="btn green-btn" ngf-select ng-model="$ctrl.file" name="file" ngf-pattern="'image/*'"
	        ngf-accept="'image/*'" >Select image</div>
	        <div class="btn" ng-click="$ctrl.uploadBounds()">Save</div>
	        <div class="fileContainer">
				<input type="file" img-cropper-fileread image="$ctrl.cropper.sourceImage" />
	        </div>
			<div class="canvasBlock">
	        <canvas width="500" height="300" id="canvas" image-cropper image="$ctrl.cropper.sourceImage" cropped-image="$ctrl.cropper.croppedImage" crop-width="200" crop-height="200" keep-aspect="true" min-width="100" min-width="100"  touch-radius="30" crop-area-bounds="$ctrl.bounds"></canvas>
	        </div>
		</div>
		</form>
	</div>
</div>