.btn-group.dropdown {
	width: 100%;
}
.odd-action  {
	button  {
		width: 150px;
	}
	.dropdown-menu {
		min-width: 150px;
		.actions-item {
			height: 30px;
			line-height: 30px;
			padding: 0 15px;
			cursor: pointer;
		}
	}
}
.odd-action.dropdown {
	width: 100px;
}
