<div class="sub-header request-page">
{{tabset.active}}
  <span class="btn white-btn add-new" ng-click="$ctrl.showForm = true" ng-show="$ctrl.showAdd">Додати</span>
  <h4 class="small-title">Рекомендації</h4>
</div>
	
<uib-tabset active="active" class="request-tabs">
	<uib-tab index="0" heading="Для мене" ng-click="$ctrl.showAdd = true">
	<div class="alert alert-info margin" ng-show="$ctrl.requestsList.length == 0">Вы ще не створили запитів на рекомендації</div>
	<div class="request-form" ng-show="$ctrl.showForm">
		<h2>Запитайте друзів про потрібного спеціаліста</h2>
		<form>
			<textarea ng-model="$ctrl.request.text" class="text-area"></textarea>
			<button ng-click="$ctrl.save()" class="btn green-btn fr  ml-15">Зберегти</button>
			<button  class="btn fr" ng-click="$ctrl.showForm = false">Відмінити</button>

		</form>
	</div>

		<div class="request-list">
			<div class="request" ng-repeat="req in $ctrl.requestsList">
				<div class="request-inner">
						<div class="request-autor-img">
							<img ng-src="{{req.userId.smallImg}}" alt="">
						</div>
					<div class="request-body"  ui-sref="main.request({reqId: req._id})">
						<p>{{req.text}}</p>
						<h4 class="request-autor-name" ui-sref="main.friend({id:req.userId._id })">{{req.userId.name}}</h4> 
						<div class="request-date">{{req.requestDate | date}}</div>
					</div>
					
				</div>

			</div>
		</div>
		
	</uib-tab>
	<uib-tab index="1" heading="Для друзів" ng-click="$ctrl.showAdd = false">
		<div class="alert alert-info margin" ng-show="$ctrl.friendsRequestsList.length == 0">Ваші друзі ще не створили запитів на рекомендації</div>
		<div class="request-list">
			<div class="request" ng-repeat="req in  $ctrl.friendsRequestsList">
				<div class="request-inner">
						<div class="request-autor-img">
							<img ng-src="{{req.userId.smallImg}}" alt="">
						</div>
					<div class="request-body"  ui-sref="main.request({reqId: req._id})">
						<p>{{req.text}}</p>
						<h4 class="request-autor-name" ui-sref="main.friend({id:req.userId._id })">{{req.userId.name}}</h4> 
						<div class="request-date">{{req.requestDate | date}}</div>
					</div>
				</div>
			</div>
		</div>
	</uib-tab>
</uib-tabset>